form{
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    margin:30px auto;
    padding: 25px;
    letter-spacing: 0.25mm;
    width: 80%;
    max-width:600px;
}
input{
    border-radius: 5px;
    margin-bottom: 8px;
}
input[type="color"]{
    width: 20px;
    height: 20px;
    border:none;
    padding: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.level{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.submit-btn{
    display: block;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.submit-btn:hover{
    background-color: lightgray;
}