.welcome{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    letter-spacing: 0.01mm;
    margin:20px;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.link{
    border: 1px solid black;
    font-size: 30px;
    border-radius: 50px;
    padding:20px;
    width:300px;
    text-decoration: none;
    text-align: center;
}
a{
    color:black;
}
a:hover{
    background-color: lightgray;
}